# IDE files
.idea
.vscode
*.iml
.classpath
.project
.settings/

# World data
arena-*
world*

# Server configs and logs
server.properties
usercache.json
logs
crash-reports
cache
.console_history

# Plugins
plugins/SkinsRestorer/
plugins/Essentials/
plugins/ReviveMe/
plugins/ProtocolLib/
plugins/MythicMobs/SavedData/
plugins/MythicMobs/packs.yml
plugins/MythicMobs/stats.yml

# JARs
*.jar

# Other
libraries

# Temporary files
*.tmp
*.temp
*.swp

# Backup files
*~

# OS Files
.DS_Store
Thumbs.db
plugins/LibsDisguises/internal.yml
